{
    ApplicationDescription = "This application is responsible for lauching and relaunching workspace processes.";
    ApplicationName = EtoileWorkspaceServer;
    ApplicationRelease = 0.1;
    Authors = (
	"Sa\U0161o Kiselkov"
    );
    Copyright = "Copyright (C) 2005, 2006 Sa\U0161o Kiselkov";
    CopyrightDescription = "Released under  the terms of the GNU General Public License v2, or any later.";
    NSTypes = (
    );
}