[Desktop Entry]
Encoding=UTF-8
Name=Étoilé

Comment=Use this session to log in Étoilé environment
Comment[fr]=Utilisez cette session pour vous logguez dans
l'environnement Étoilé

Exec=/usr/local/bin/etoile

# No icon for now
Icon=
Type=Application

