{
    CFBundleIdentifier = "org.etoile-project.sampleprefpane";
    Authors = (
        "Uli Kusterer <witness.of.teachtext@gmx.net>",
        "Quentin Mathé <qmathe@club-internet.fr>"
    ); 
    Copyright = "Uli Kusterer"; 
    CopyrightDescription = "Copyright 2005 M. Uli Kusterer."; 
    FullVersionID = "0.1";
    URL = ""; 
}
