<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Grr</string>
	<key>CFBundleIconFile</key>
	<string>rssreader</string>
	<key>CFBundleIdentifier</key>
	<string>org.etoile-project.grr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>GRR </string>
	<key>CFBundleVersion</key>
	<string>0.6</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
        <key>NSServices</key>
        <array> 
                <dict>  
                        <key>NSMenuItem</key>
                        <dict>  
                                <key>default</key> 
                                <string>Add as RSS feed source</string>
                        </dict>
                        <key>NSMessage</key>
                        <string>addFeedWithURL</string>
                        <key>NSPortName</key>
                        <string>RSSReaderService</string>
                        <key>NSSendTypes</key>
                        <array> 
                                <string>NSURLPboardType</string>
                                <string>NSStringPboardType</string>
                                <string>NSFilenamePboardType</string>
                        </array>
                </dict>
        </array>
</dict>
</plist>
