{
    ApplicationDescription = "Étoilé PreferencesKit example"; 
    ApplicationIcon = ""; 
    ApplicationName = "PreferencesKitExample"; 
    ApplicationRelease = "0.1"; 
    Authors = (
        "Quentin Mathé <qmathe@club-internet.fr>",
        "Uli Kusterer <witness.of.teachtext@gmx.net>"
    ); 
    Copyright = "Quentin Mathé"; 
    CopyrightDescription = "Copyright 2004 M. Quentin Mathé."; 
    FullVersionID = "0.1";
    NSMainNibFile = "MainMenu.gorm"; 
    URL = ""; 
}