[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=0.94
Categories=GNUstep
Name=Hardware
Comment=Étoilé Hardware Utility
Exec=openapp Hardware.app
#TryExec=Hardware.app
FilePattern=Hardware.app;Hardware
