{
    GSThemeAuthors = (
	"Jesse Ross",
	"Eric Wasylishen"
    );
    GSThemeDomain = {
	GSBackHandlesWindowDecorations = NO;
	GSScrollerButtonsOffset = 0.0;
    };
    GSThemeIcon = Thematic.png;
    GSThemeTiles = {
	GSButton = {
	    FileName = "Button-unselected.9.png";
	    NinePatch = YES;
	};
	GSButtonSelected = {
	    FileName = "Button-selected.9.png";
	    NinePatch = YES;
	};
	GSColorWell = {
	    FileName = "Button-unselected.9.png";
	    NinePatch = YES;
	};
	GSColorWellHighlighted = {
	    FileName = "Button-highlighted.9.png";
	    NinePatch = YES;
	};
	GSMenuHorizontalBackground = {
	    FileName = MenuBackgroundHorizontal.9.png;
	    NinePatch = YES;
	};
	GSMenuHorizontalItem = {
	    FileName = Blank.9.png;
	    NinePatch = YES;
	};
	GSMenuHorizontalItemHighlighted = {
	    FileName = GSMenuItemSelected.png;
	    NinePatch = YES;
	};
	GSMenuHorizontalItemSelected = {
	    FileName = GSMenuItemSelected.png;
	    NinePatch = YES;
	};
	GSMenuVerticalBackground = {
	    FileName = Menu.9.png;
	    NinePatch = YES;
	};
	GSMenuVerticalItem = {
	    FileName = Blank.9.png;
	    NinePatch = YES;
	};
	GSMenuVerticalItemHighlighted = {
	    FileName = GSMenuItemSelected.png;
	    NinePatch = YES;
	};
	GSMenuVerticalItemSelected = {
	    FileName = GSMenuItemSelected.png;
	    NinePatch = YES;
	};
	GSProgressIndicatorBarDeterminate = {
	    FileName = "Progress-horizontal.9.png";
	    NinePatch = YES;
	};
	GSScrollerDownArrow = {
	    FileName = GSScrollerDownArrow.9.png;
	    NinePatch = YES;
	};
	GSScrollerHorizontalKnob = {
	    FileName = "Scrollbar-horizontal-thumb.9.png";
	    NinePatch = YES;
	};
	GSScrollerHorizontalSlot = {
	    FileName = "Scrollbar-horizontal-slot.9.png";
	    NinePatch = YES;
	};
	GSScrollerUpArrow = {
	    FileName = GSScrollerUpArrow.9.png;
	    NinePatch = YES;
	};
	GSScrollerVerticalKnob = {
	    FileName = "Scrollbar-vertical-thumb.9.png";
	    NinePatch = YES;
	};
	GSScrollerVerticalSlot = {
	    FileName = "Scrollbar-vertical-slot.9.png";
	    NinePatch = YES;
	};
	GSTableCorner = {
	    FileName = TableHeader.9.png;
	    NinePatch = YES;
	};
	GSTableHeader = {
	    FileName = TableHeader.9.png;
	    NinePatch = YES;
	};
	GSTableHeaderHighlighted = {
	    FileName = TableHeaderSelected.9.png;
	    NinePatch = YES;
	};
	GSWindowBackground = {
	    FileName = WindowBackground.png;
	    HorizontalDivision = 20;
	    VerticalDivision = 20;
	};
	GSWindowBackgroundSelected = {
	    FileName = WindowBackgroundSelected.png;
	    FillStyle = ScaleAll;
	    HorizontalDivision = 20;
	    VerticalDivision = 20;
	};
	GSWindowResizeBar = {
	    FileName = WindowResize.9.png;
	    NinePatch = YES;
	};
	GSWindowTitleBar = {
	    FileName = Titlebar.9.png;
	    NinePatch = YES;
	};
	NSButton = {
	    FileName = "Button-unselected.9.png";
	    NinePatch = YES;
	};
	NSButtonDisabled = {
	    FileName = "Button-disabled.9.png";
	    NinePatch = YES;
	};
	NSButtonHighlighted = {
	    FileName = "Button-highlighted.9.png";
	    NinePatch = YES;
	};
	NSButtonSelected = {
	    FileName = "Button-selected.9.png";
	    NinePatch = YES;
	};
	NSSegmentStyleTexturedSquare = {
	    FileName = "SegmentedCell-unselected.9.png";
	    NinePatch = YES;
	};
	NSSegmentStyleTexturedSquareRoundedLeft = {
	    FileName = "SegmentedCellRoundedLeft-unselected.9.png";
	    NinePatch = YES;
	};
	NSSegmentStyleTexturedSquareRoundedLeftRoundedRight = {
	    FileName = "SegmentedCell-unselected.9.png";
	    NinePatch = YES;
	};
	NSSegmentStyleTexturedSquareRoundedLeftRoundedRightSelected = {
	    FileName = "SegmentedCell-selected.9.png";
	    NinePatch = YES;
	};
	NSSegmentStyleTexturedSquareRoundedLeftSelected = {
	    FileName = "SegmentedCellRoundedLeft-selected.9.png";
	    NinePatch = YES;
	};
	NSSegmentStyleTexturedSquareRoundedRight = {
	    FileName = "SegmentedCell-unselected.9.png";
	    NinePatch = YES;
	};
	NSSegmentStyleTexturedSquareRoundedRightSelected = {
	    FileName = "SegmentedCell-selected.9.png";
	    NinePatch = YES;
	};
	NSSegmentStyleTexturedSquareSelected = {
	    FileName = "SegmentedCell-selected.9.png";
	    NinePatch = YES;
	};
	NSTextFieldRoundedBezel = {
	    FileName = Textbox.9.png;
	    NinePatch = YES;
	};
	NSTextFieldSquareBezel = {
	    FileName = Textbox.9.png;
	    NinePatch = YES;
	};
	NSTexturedSquareBezelStyle = {
	    FileName = SquareButton.9.png;
	    NinePatch = YES;
	};
	NSTexturedSquareBezelStyleSelected = {
	    FileName = SquareButtonSelected.9.png;
	    NinePatch = YES;
	};
	SNSBezelBorder = {
	    FileName = Textbox.9.png;
	    NinePatch = YES;
	};
    };
    GSThemeVersion = 0.1;
    NSPrincipalClass = GSTiledTheme;
}