<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>&Eacute;toil&eacute;</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width = 680" />
		<link rel="stylesheet" href="_includes/css/reset-fonts-grids.css" type="text/css" />
		<link rel="stylesheet" href="_includes/css/global.css" type="text/css" />
		<link rel="stylesheet" href="_includes/css/prettify.css" type="text/css" />
		<link rel="stylesheet" href="_includes/css/documentation.css" type="text/css" />
		
		<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/feeds/news/atom/" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<script type="text/javascript" src="_includes/js/prettify.js"></script>
		<script type="text/javascript" src="_includes/js/swfobject.js"></script>
		<script type="text/javascript" src="_includes/js/collapser.js"></script>
	</head>
	<body class="developer" onload="prettyPrint();hideAll();">
	
		<div id="doc3" class="yui-t7">
			
			<div id="hd">
				<div id="nav">
					<ul>
						<li><a href="/"><img src="/images/global/flower.png" alt="&Eacute;toil&eacute; Logo" /></a></li>
						<li><a href="/etoile/">&Eacute;toil&eacute;</a></li>
						<li><a href="/downloads/">Downloads</a></li>
						<li><a href="/support/">Support</a></li>
						<li><a href="/news/">News</a></li>
						<li><a href="/dev/">Development</a></li>
					</ul>
				</div>  
			</div> 
			
			<div id="bd" class="team">
			
				<div class="yui-gc" id="masthead">
					<div class="yui-u first">
						<h1><strong>Documentation</strong></h1><p></p>	  
					</div>
				</div>
				
				<div class="yui-gc" id="content">
				
					<div class="yui-u first">
						<div id="main">
							<div id="documentation">
								
								<!-- etoile-header -->
								
								<div id="toggler">
									<p id="shower">
									<a href="javascript:void()" onClick="showAll()">Expand all methods and variables</a>
									</p>
									<p id="hider">
									<a href="javascript:void()" onClick="hideAll()">Collapse all methods and variables</a>
									</p>
								</div>
								
								<!-- etoile-methods -->
								
							</div>
						</div>
					</div>
					
					<div class="yui-u">
						<div id="sidebar">
							
							<!-- etoile-menu -->
							
						</div>
					</div>
					
				</div> <!-- yui-gc-content -->
				
			</div> <!--bd-team -->
			
			<div id="ft">
				<div id="bottom_nav">
					<a href="/feeds/">RSS Feeds</a> | 
					<a href="/media/">Media Kit</a> | 
					<a href="/contact/">Contact Us</a>
				</div>
				<div id="legal">Copyright &copy; 2008 &Eacute;toil&eacute; Project. All rights reserved.</div>
			</div>
			
		</div> <!-- doc3-yui-t7 -->
		
		<div>
			<img src="/images/community/diagonals.gif" class="hidden"/>
			<img src="/images/developer/diagonals.gif" class="hidden"/>
			
			<img src="/images/news/diagonals.gif" class="hidden"/>
			<img src="/images/system/diagonals.gif" class="hidden"/>
			
			<img src="/images/community/growth.png" class="hidden"/>
			<img src="/images/developer/growth.png" class="hidden"/>
			<img src="/images/news/growth.png" class="hidden"/>
			<img src="/images/system/growth.png" class="hidden"/>
		</div>
		
	</body>
</html>
