<h2>ETDocGenerator</h2>
<ul>
<li><a href="presentation.html">Quick presentation </a></li>
<li><a href="architecture.html">Architecture Overview</a></li>
<li><a href="writing-doc.html">Documenting your code</a></li>
<li><a href="todo.html">Todo</a></li>
</ul>

<h3>Main</h3>
<ul>
<li><a href="ETDocGenerator.html">ETDocGenerator file</a></li>
</ul>

<h3>C Symbols</h3>
<ul>
<li><a href="Functions.html">Functions</a></li>
<li><a href="Constants.html">Constants</a></li>
<li><a href="Macros.html">Macros</a></li>
<li><a href="OtherDataTypes.html">Other Data Types</a></li>
</ul>

<h3>Classes</h3>
<!-- etoile-list-classes -->

<h3>Protocols</h3>
<!-- etoile-list-protocols -->

<h3>Categories</h3>
<!-- etoile-list-categories -->
