{
    ApplicationDescription = "OuterSpace File Manager";
    ApplicationName = OuterSpace;
    ApplicationRelease = 0.1;
    Authors = (
	"Yen-Ju Chen <yjchenx gmail>"
    );
    Copyright = "Copyright (C) 2007";
    CopyrightDescription = "Released under the terms of modified BSD license";
    NSExecutable = OuterSpace;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    URL = "http://www.etoile-project.org";
}
 
