<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/_Class/Reference/Reference.html</string>
	<key>NSAffineTransform</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSAffineTransform_Class/Reference/Reference.html</string>
	<key>NSAppleEventDescriptor</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSAppleEventDescriptor_Class/Reference/Reference.html</string>
	<key>NSAppleEventManager</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSAppleEventManager_Class/Reference/Reference.html</string>
	<key>NSAppleScript</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSAppleScript_Class/Reference/Reference.html</string>
	<key>NSArchiver</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSArchiver_Class/Reference/Reference.html</string>
	<key>NSArray</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSArray_Class/Reference/Reference.html</string>
	<key>NSAssertionHandler</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSAssertionHandler_Class/Reference/Reference.html</string>
	<key>NSAttributedString</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSAttributedString_Class/Reference/Reference.html</string>
	<key>NSAutoreleasePool</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSAutoreleasePool_Class/Reference/Reference.html</string>
	<key>NSBundle</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSBundle_Class/Reference/Reference.html</string>
	<key>NSCachedURLResponse</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSCachedURLResponse_Class/Reference/Reference.html</string>
	<key>NSCalendar</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSCalendar_Class/Reference/Reference.html</string>
	<key>NSCalendarDate</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSCalendarDate_Class/Reference/Reference.html</string>
	<key>NSCharacterSet</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSCharacterSet_Class/Reference/Reference.html</string>
	<key>NSClassDescription</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSClassDescription_Class/Reference/Reference.html</string>
	<key>NSCloneCommand</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSCloneCommand_Class/Reference/Reference.html</string>
	<key>NSCloseCommand</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSCloseCommand_Class/Reference/Reference.html</string>
	<key>NSCoder</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSCoder_Class/Reference/Reference.html</string>
	<key>NSComparisonPredicate</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSComparisonPredicate_Class/Reference/Reference.html</string>
	<key>NSCompoundPredicate</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSCompoundPredicate_Class/Reference/Reference.html</string>
	<key>NSCondition</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSCondition_Class/Reference/Reference.html</string>
	<key>NSConditionLock</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSConditionLock_Class/Reference/Reference.html</string>
	<key>NSConnection</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSConnection_Class/Reference/Reference.html</string>
	<key>NSCountCommand</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSCountCommand_Class/Reference/Reference.html</string>
	<key>NSCountedSet</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSCountedSet_Class/Reference/Reference.html</string>
	<key>NSCreateCommand</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSCreateCommand_Class/Reference/Reference.html</string>
	<key>NSData</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSData_Class/Reference/Reference.html</string>
	<key>NSDate</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDate_Class/Reference/Reference.html</string>
	<key>NSDateComponents</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDateComponents_Class/Reference/Reference.html</string>
	<key>NSDateFormatter</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDateFormatter_Class/Reference/Reference.html</string>
	<key>NSDecimalNumber</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDecimalNumber_Class/Reference/Reference.html</string>
	<key>NSDecimalNumberHandler</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDecimalNumberHandler_Class/Reference/Reference.html</string>
	<key>NSDeleteCommand</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDeleteCommand_Class/Reference/Reference.html</string>
	<key>NSDeserializer</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDeserializer_Class/Reference/Reference.html</string>
	<key>NSDictionary</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDictionary_Class/Reference/Reference.html</string>
	<key>NSDirectoryEnumerator</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDirectoryEnumerator_Class/Reference/Reference.html</string>
	<key>NSDistantObject</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDistantObject_Class/Reference/Reference.html</string>
	<key>NSDistantObjectRequest</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDistantObjectRequest_Class/Reference/Reference.html</string>
	<key>NSDistributedLock</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDistributedLock_Class/Reference/Reference.html</string>
	<key>NSDistributedNotificationCenter</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSDistributedNotificationCenter_Class/Reference/Reference.html</string>
	<key>NSEnumerator</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSEnumerator_Class/Reference/Reference.html</string>
	<key>NSError</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSError_Class/Reference/Reference.html</string>
	<key>NSException</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSException_Class/Reference/Reference.html</string>
	<key>NSExistsCommand</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSExistsCommand_Class/Reference/Reference.html</string>
	<key>NSExpression</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSExpression_Class/Reference/Reference.html</string>
	<key>NSFileHandle</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSFileHandle_Class/Reference/Reference.html</string>
	<key>NSFileManager</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSFileManager_Class/Reference/Reference.html</string>
	<key>NSFormatter</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSFormatter_Class/Reference/Reference.html</string>
	<key>NSGarbageCollector</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSGarbageCollector_Class/Reference/Reference.html</string>
	<key>NSGetCommand</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSGetCommand_Class/Reference/Reference.html</string>
	<key>NSHTTPCookie</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSHTTPCookie_Class/Reference/Reference.html</string>
	<key>NSHTTPCookieStorage</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSHTTPCookieStorage_Class/Reference/Reference.html</string>
	<key>NSHTTPURLResponse</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSHTTPURLResponse_Class/Reference/Reference.html</string>
	<key>NSHashTable</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSHashTable_Class/Reference/Reference.html</string>
	<key>NSHost</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSHost_Class/Reference/Reference.html</string>
	<key>NSIndexPath</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSIndexPath_Class/Reference/Reference.html</string>
	<key>NSIndexSet</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSIndexSet_Class/Reference/Reference.html</string>
	<key>NSIndexSpecifier</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSIndexSpecifier_Class/Reference/Reference.html</string>
	<key>NSInputStream</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSInputStream_Class/Reference/Reference.html</string>
	<key>NSInvocation</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSInvocation_Class/Reference/Reference.html</string>
	<key>NSInvocationOperation</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSInvocationOperation_Class/Reference/Reference.html</string>
	<key>NSKeyedArchiver</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSKeyedArchiver_Class/Reference/Reference.html</string>
	<key>NSKeyedUnarchiver</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSKeyedUnarchiver_Class/Reference/Reference.html</string>
	<key>NSLocale</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSLocale_Class/Reference/Reference.html</string>
	<key>NSLock</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSLock_Class/Reference/Reference.html</string>
	<key>NSLogicalTest</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSLogicalTest_Class/Reference/Reference.html</string>
	<key>NSMachBootstrapServer</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMachBootstrapServer_Class/Reference/Reference.html</string>
	<key>NSMachPort</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMachPort_Class/Reference/Reference.html</string>
	<key>NSMapTable</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMapTable_Class/Reference/Reference.html</string>
	<key>NSMessagePort</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMessagePort_Class/Reference/Reference.html</string>
	<key>NSMessagePortNameServer</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMessagePortNameServer_Class/Reference/Reference.html</string>
	<key>NSMetadataItem</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMetadataItem_Class/Reference/Reference.html</string>
	<key>NSMetadataQuery</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMetadataQuery_Class/Reference/Reference.html</string>
	<key>NSMetadataQueryAttributeValueTuple</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMetadataQueryAttributeValueTuple_Class/Reference/Reference.html</string>
	<key>NSMetadataQueryResultGroup</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMetadataQueryResultGroup_Class/Reference/Reference.html</string>
	<key>NSMethodSignature</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMethodSignature_Class/Reference/Reference.html</string>
	<key>NSMiddleSpecifier</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMiddleSpecifier_Class/Reference/Reference.html</string>
	<key>NSMoveCommand</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMoveCommand_Class/Reference/Reference.html</string>
	<key>NSMutableArray</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMutableArray_Class/Reference/Reference.html</string>
	<key>NSMutableAttributedString</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMutableAttributedString_Class/Reference/Reference.html</string>
	<key>NSMutableCharacterSet</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMutableCharacterSet_Class/Reference/Reference.html</string>
	<key>NSMutableData</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMutableData_Class/Reference/Reference.html</string>
	<key>NSMutableDictionary</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMutableDictionary_Class/Reference/Reference.html</string>
	<key>NSMutableIndexSet</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMutableIndexSet_Class/Reference/Reference.html</string>
	<key>NSMutableSet</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMutableSet_Class/Reference/Reference.html</string>
	<key>NSMutableString</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMutableString_Class/Reference/Reference.html</string>
	<key>NSMutableURLRequest</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSMutableURLRequest_Class/Reference/Reference.html</string>
	<key>NSNameSpecifier</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSNameSpecifier_Class/Reference/Reference.html</string>
	<key>NSNetService</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSNetService_Class/Reference/Reference.html</string>
	<key>NSNetServiceBrowser</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSNetServiceBrowser_Class/Reference/Reference.html</string>
	<key>NSNotification</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSNotification_Class/Reference/Reference.html</string>
	<key>NSNotificationCenter</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSNotificationCenter_Class/Reference/Reference.html</string>
	<key>NSNotificationQueue</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSNotificationQueue_Class/Reference/Reference.html</string>
	<key>NSNull</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSNull_Class/Reference/Reference.html</string>
	<key>NSNumber</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSNumber_Class/Reference/Reference.html</string>
	<key>NSNumberFormatter</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSNumberFormatter_Class/Reference/Reference.html</string>
	<key>NSObject</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSObject_Class/Reference/Reference.html</string>
	<key>NSOperation</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSOperation_Class/Reference/Reference.html</string>
	<key>NSOperationQueue</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSOperationQueue_Class/Reference/Reference.html</string>
	<key>NSOutputStream</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSOutputStream_Class/Reference/Reference.html</string>
	<key>NSPipe</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSPipe_Class/Reference/Reference.html</string>
	<key>NSPointerArray</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSPointerArray_Class/Reference/Reference.html</string>
	<key>NSPointerFunctions</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSPointerFunctions_Class/Reference/Reference.html</string>
	<key>NSPort</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSPort_Class/Reference/Reference.html</string>
	<key>NSPortCoder</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSPortCoder_Class/Reference/Reference.html</string>
	<key>NSPortMessage</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSPortMessage_Class/Reference/Reference.html</string>
	<key>NSPortNameServer</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSPortNameServer_Class/Reference/Reference.html</string>
	<key>NSPositionalSpecifier</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSPositionalSpecifier_Class/Reference/Reference.html</string>
	<key>NSPredicate</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSPredicate_Class/Reference/Reference.html</string>
	<key>NSProcessInfo</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSProcessInfo_Class/Reference/Reference.html</string>
	<key>NSPropertyListSerialization</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSPropertyListSerialization_Class/Reference/Reference.html</string>
	<key>NSPropertySpecifier</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSPropertySpecifier_Class/Reference/Reference.html</string>
	<key>NSProtocolChecker</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSProtocolChecker_Class/Reference/Reference.html</string>
	<key>NSProxy</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSProxy_Class/Reference/Reference.html</string>
	<key>NSQuitCommand</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSQuitCommand_Class/Reference/Reference.html</string>
	<key>NSRandomSpecifier</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSRandomSpecifier_Class/Reference/Reference.html</string>
	<key>NSRangeSpecifier</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSRangeSpecifier_Class/Reference/Reference.html</string>
	<key>NSRecursiveLock</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSRecursiveLock_Class/Reference/Reference.html</string>
	<key>NSRelativeSpecifier</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSRelativeSpecifier_Class/Reference/Reference.html</string>
	<key>NSRunLoop</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSRunLoop_Class/Reference/Reference.html</string>
	<key>NSScanner</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSScanner_Class/Reference/Reference.html</string>
	<key>NSScriptClassDescription</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSScriptClassDescription_Class/Reference/Reference.html</string>
	<key>NSScriptCoercionHandler</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSScriptCoercionHandler_Class/Reference/Reference.html</string>
	<key>NSScriptCommand</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSScriptCommand_Class/Reference/Reference.html</string>
	<key>NSScriptCommandDescription</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSScriptCommandDescription_Class/Reference/Reference.html</string>
	<key>NSScriptExecutionContext</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSScriptExecutionContext_Class/Reference/Reference.html</string>
	<key>NSScriptObjectSpecifier</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSScriptObjectSpecifier_Class/Reference/Reference.html</string>
	<key>NSScriptSuiteRegistry</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSScriptSuiteRegistry_Class/Reference/Reference.html</string>
	<key>NSScriptWhoseTest</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSScriptWhoseTest_Class/Reference/Reference.html</string>
	<key>NSSerializer</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSSerializer_Class/Reference/Reference.html</string>
	<key>NSSet</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSSet_Class/Reference/Reference.html</string>
	<key>NSSetCommand</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSSetCommand_Class/Reference/Reference.html</string>
	<key>NSSocketPort</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSSocketPort_Class/Reference/Reference.html</string>
	<key>NSSocketPortNameServer</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSSocketPortNameServer_Class/Reference/Reference.html</string>
	<key>NSSortDescriptor</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSSortDescriptor_Class/Reference/Reference.html</string>
	<key>NSSpecifierTest</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSSpecifierTest_Class/Reference/Reference.html</string>
	<key>NSSpellServer</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSSpellServer_Class/Reference/Reference.html</string>
	<key>NSStream</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSStream_Class/Reference/Reference.html</string>
	<key>NSString</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSString_Class/Reference/Reference.html</string>
	<key>NSTask</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSTask_Class/Reference/Reference.html</string>
	<key>NSThread</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSThread_Class/Reference/Reference.html</string>
	<key>NSTimeZone</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSTimeZone_Class/Reference/Reference.html</string>
	<key>NSTimer</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSTimer_Class/Reference/Reference.html</string>
	<key>NSURL</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSURL_Class/Reference/Reference.html</string>
	<key>NSURLAuthenticationChallenge</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSURLAuthenticationChallenge_Class/Reference/Reference.html</string>
	<key>NSURLCache</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSURLCache_Class/Reference/Reference.html</string>
	<key>NSURLConnection</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSURLConnection_Class/Reference/Reference.html</string>
	<key>NSURLCredential</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSURLCredential_Class/Reference/Reference.html</string>
	<key>NSURLCredentialStorage</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSURLCredentialStorage_Class/Reference/Reference.html</string>
	<key>NSURLDownload</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSURLDownload_Class/Reference/Reference.html</string>
	<key>NSURLHandle</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSURLHandle_Class/Reference/Reference.html</string>
	<key>NSURLProtectionSpace</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSURLProtectionSpace_Class/Reference/Reference.html</string>
	<key>NSURLProtocol</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSURLProtocol_Class/Reference/Reference.html</string>
	<key>NSURLRequest</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSURLRequest_Class/Reference/Reference.html</string>
	<key>NSURLResponse</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSURLResponse_Class/Reference/Reference.html</string>
	<key>NSUnarchiver</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSUnarchiver_Class/Reference/Reference.html</string>
	<key>NSUndoManager</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSUndoManager_Class/Reference/Reference.html</string>
	<key>NSUniqueIDSpecifier</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSUniqueIDSpecifier_Class/Reference/Reference.html</string>
	<key>NSUserDefaults</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSUserDefaults_Class/Reference/Reference.html</string>
	<key>NSValue</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSValue_Class/Reference/Reference.html</string>
	<key>NSValueTransformer</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSValueTransformer_Class/Reference/Reference.html</string>
	<key>NSWhoseSpecifier</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSWhoseSpecifier_Class/Reference/Reference.html</string>
	<key>NSXMLDTD</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSXMLDTD_Class/Reference/Reference.html</string>
	<key>NSXMLDTDNode</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSXMLDTDNode_Class/Reference/Reference.html</string>
	<key>NSXMLDocument</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSXMLDocument_Class/Reference/Reference.html</string>
	<key>NSXMLElement</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSXMLElement_Class/Reference/Reference.html</string>
	<key>NSXMLNode</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSXMLNode_Class/Reference/Reference.html</string>
	<key>NSXMLParser</key>
	<string>http://developer.apple.com/documentation/Cocoa/Reference/Foundation/Classes/NSXMLParser_Class/Reference/Reference.html</string>
</dict>
</plist>
