{
    CFBundleIdentifier = "org.etoile-project.mouseprefpane";
    NSPrefPaneIconFile = "whatever";
    NSPrefPaneIconLabel = "Mouse";
    Authors = (
        "Quentin Mathé <qmathe@club-internet.fr>"
    ); 
    Copyright = "Copyright (C) 2005 Quentin Mathé"; 
    CopyrightDescription = "Released under the GNU Lesser General Public
License 2.1"; 
    FullVersionID = "0.1";
    URL = "";
}
