{
    ApplicationDescription = "A server for menu-items for horizontal Etoile menus.";
    ApplicationName = EtoileMenuServer;
    ApplicationRelease = 0.1;
    Authors = (
	"Sa\U0161o Kiselkov"
    );
    Copyright = "Copyright (C) 2006 by Sa\U0161o Kiselkov";
    CopyrightDescription = "Released under the terms of the GNU General Public License v2, or any later.";
    NSTypes = (
    );
}