<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>&lt;</string>
	<key>endCommand</key>
	<string>&gt;</string>
	<key>beginInstruction</key>
	<string>&lt;%</string>
	<key>endInstruction</key>
	<string>%&gt;</string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>'</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*\w*(function|sub)\s+.*</string>
	<key>removeFromFunction</key>
	<string>function</string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>if</string>
		<string>then</string>
		<string>else</string>
		<string>elseif</string>
		<string>select</string>
		<string>case</string>
		<string>for</string>
		<string>to</string>
		<string>step</string>
		<string>next</string>
		<string>each</string>
		<string>in</string>
		<string>do</string>
		<string>while</string>
		<string>until</string>
		<string>loop</string>
		<string>wend</string>
		<string>exit</string>
		<string>end</string>
		<string>function</string>
		<string>sub</string>
		<string>class</string>
		<string>property</string>
		<string>get</string>
		<string>let</string>
		<string>set</string>
		<string>byval</string>
		<string>byref</string>
		<string>const</string>
		<string>dim</string>
		<string>redim</string>
		<string>preserve</string>
		<string>as</string>
		<string>set</string>
		<string>with</string>
		<string>new</string>
		<string>public</string>
		<string>default</string>
		<string>private</string>
		<string>rem</string>
		<string>call</string>
		<string>execute</string>
		<string>eval</string>
		<string>on</string>
		<string>error</string>
		<string>goto</string>
		<string>resume</string>
		<string>option</string>
		<string>explicit</string>
		<string>erase</string>
		<string>randomize</string>
		<string>is</string>
		<string>mod</string>
		<string>and</string>
		<string>or</string>
		<string>not</string>
		<string>xor</string>
		<string>imp</string>
		<string>false</string>
		<string>true</string>
		<string>empty</string>
		<string>nothing</string>
		<string>null</string>
		<string>connect</string>
		<string>EOF</string>
		<string>movenext</string>
		<string>close</string>
		<string>Application</string>
		<string>ASPError</string>
		<string>Request</string>
		<string>Response</string>
		<string>Server</string>
		<string>Session</string>
		<string>Contents</string>
		<string>StaticObjects</string>
		<string>Remove</string>
		<string>RemoveAll</string>
		<string>Lock</string>
		<string>Unlock</string>
		<string>Application_OnStart</string>
		<string>Application_OnEnd</string>
		<string>ASPCode</string>
		<string>Number</string>
		<string>Source</string>
		<string>Category</string>
		<string>File</string>
		<string>Line</string>
		<string>Column</string>
		<string>Description</string>
		<string>ASPDescription</string>
		<string>Cookies</string>
		<string>Form</string>
		<string>QueryString</string>
		<string>ServerVariables</string>
		<string>TotalBytes</string>
		<string>Buffer</string>
		<string>CacheControl</string>
		<string>Charset</string>
		<string>CodePage</string>
		<string>ContentType</string>
		<string>Expires</string>
		<string>ExpiresAbsolute</string>
		<string>IsClientConnected</string>
		<string>LCID</string>
		<string>PICS</string>
		<string>Status</string>
		<string>AddHeader</string>
		<string>AppendToLog</string>
		<string>BinaryWrite</string>
		<string>Clear</string>
		<string>End</string>
		<string>Flush</string>
		<string>Redirect</string>
		<string>Write</string>
		<string>ScriptTimeout</string>
		<string>CreateObject</string>
		<string>Execute</string>
		<string>GetLastError</string>
		<string>HTMLEncode</string>
		<string>MapPath</string>
		<string>Transfer</string>
		<string>URLEncode</string>
		<string>StaticObjects</string>
		<string>SessionID</string>
		<string>Timeout</string>
	</array>
</dict>
</plist>
