<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>&lt;</string>
	<key>endCommand</key>
	<string>&gt;</string>
	<key>beginInstruction</key>
	<string>&lt;%</string>
	<key>endInstruction</key>
	<string>%&gt;</string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string>&lt;!--</string>
	<key>endSecondMultiLineComment</key>
	<string>--&gt;</string>
	<key>functionDefinition</key>
	<string>^\s*(static|public|private|protected|internal).*\(.*\).*\n?\s*{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>AspCompat</string>
		<string>AutoEventWireup</string>
		<string>Assembly</string>
		<string>Buffer</string>
		<string>ClassName</string>
		<string>ClientTarget</string>
		<string>CodePage</string>
		<string>CompilerOptions</string>
		<string>ContentType</string>
		<string>Culture</string>
		<string>Debug</string>
		<string>Description</string>
		<string>EnableSessionState</string>
		<string>EnableViewState</string>
		<string>EnableViewStateMac</string>
		<string>ErrorPage</string>
		<string>Explicit</string>
		<string>Inherits</string>
		<string>Language</string>
		<string>LCID</string>
		<string>ResponseEncoding</string>
		<string>Src</string>
		<string>SmartNavigation</string>
		<string>Strict</string>
		<string>Trace</string>
		<string>TraceMode</string>
		<string>Transaction</string>
		<string>UICulture</string>
		<string>WarningLevel</string>
		<string>Namespace</string>
		<string>Interface</string>
		<string>TagPrefix</string>
		<string>TagName</string>
		<string>Duration</string>
		<string>Location</string>
		<string>VaryByCustom</string>
		<string>VaryByHeader</string>
		<string>VaryByParam</string>
		<string>VaryByControl</string>
		<string>Control</string>
		<string>Literal</string>
		<string>PlaceHolder</string>
		<string>Xml</string>
		<string>AdRotator</string>
		<string>Button</string>
		<string>Calendar</string>
		<string>CheckBox</string>
		<string>CheckBoxList</string>
		<string>DataGrid</string>
		<string>DataList</string>
		<string>DropDownList</string>
		<string>HyperLink</string>
		<string>Image</string>
		<string>ImageButton</string>
		<string>Label</string>
		<string>LinkButton</string>
		<string>ListBox</string>
		<string>Panel</string>
		<string>PlaceHolder</string>
		<string>RadioButton</string>
		<string>RadioButtonList</string>
		<string>Repeater</string>
		<string>Table</string>
		<string>TableCell</string>
		<string>TableRow</string>
		<string>TextBox</string>
		<string>runat</string>
		<string>id</string>
		<string>OnSelectedIndexChanged</string>
		<string>AutoPostBack</string>
		<string>EnableViewState</string>
		<string>abstract</string>
		<string>as</string>
		<string>base</string>
		<string>break</string>
		<string>case</string>
		<string>catch</string>
		<string>class</string>
		<string>checked</string>
		<string>continue</string>
		<string>default</string>
		<string>delegate</string>
		<string>do</string>
		<string>else</string>
		<string>enum</string>
		<string>event</string>
		<string>explicit</string>
		<string>extern</string>
		<string>false</string>
		<string>for</string>
		<string>foreach</string>
		<string>finally</string>
		<string>fixed</string>
		<string>goto</string>
		<string>if</string>
		<string>implicit</string>
		<string>in</string>
		<string>interface</string>
		<string>internal</string>
		<string>is</string>
		<string>lock</string>
		<string>namespace</string>
		<string>new</string>
		<string>null</string>
		<string>operator</string>
		<string>out</string>
		<string>override</string>
		<string>params</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>readonly</string>
		<string>ref</string>
		<string>return</string>
		<string>sealed</string>
		<string>sizeof</string>
		<string>stackalloc</string>
		<string>static</string>
		<string>struct</string>
		<string>switch</string>
		<string>this</string>
		<string>throw</string>
		<string>true</string>
		<string>try</string>
		<string>typeof</string>
		<string>unchecked</string>
		<string>unsafe</string>
		<string>using</string>
		<string>virtual</string>
		<string>while</string>
		<string>#if</string>
		<string>#else</string>
		<string>#elif</string>
		<string>#endif</string>
		<string>#define</string>
		<string>#undef</string>
		<string>#warning</string>
		<string>#error</string>
		<string>#line</string>
		<string>bool</string>
		<string>byte</string>
		<string>char</string>
		<string>const</string>
		<string>decimal</string>
		<string>double</string>
		<string>float</string>
		<string>int</string>
		<string>long</string>
		<string>object</string>
		<string>uint</string>
		<string>ushort</string>
		<string>ulong</string>
		<string>sbyte</string>
		<string>short</string>
		<string>string</string>
		<string>void</string>
	</array>
</dict>
</plist>
