<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>&lt;</string>
	<key>endCommand</key>
	<string>&gt;</string>
	<key>beginInstruction</key>
	<string>&lt;%</string>
	<key>endInstruction</key>
	<string>%&gt;</string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>::</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string>&lt;!--</string>
	<key>endSecondMultiLineComment</key>
	<string>--&gt;</string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keyWordsCaseSensitive</key>
	<false/>
	<key>recolourKeyWordIfAlreadyColoured</key>
	<false/>
	<key>keyWords</key>
	<array>
		<string>AT</string>
		<string>attrib</string>
		<string>call</string>
		<string>choice</string>
		<string>cls</string>
		<string>debug</string>
		<string>del</string>
		<string>delete</string>
		<string>errorlevel</string>
		<string>exist</string>
		<string>fdisk</string>
		<string>find</string>
		<string>for</string>
		<string>format</string>
		<string>goto</string>
		<string>if</string>
		<string>mem</string>
		<string>net</string>
		<string>not</string>
		<string>path</string>
		<string>regedit</string>
		<string>set</string>
		<string>start</string>
		<string>title</string>
		<string>xcopy</string>
		<string>xxcopy</string>
		<string>net use</string>
		<string>delete</string>
		<string>else</string>
		<string>for</string>
		<string>function</string>
		<string>if</string>
		<string>this</string>
		<string>while</string>
		<string>with</string>
		<string>then</string>
		<string>else</string>
		<string>elseif</string>
		<string>for</string>
		<string>each</string>
		<string>in</string>
		<string>do</string>
		<string>while</string>
		<string>until</string>
		<string>loop</string>
		<string>wend</string>
		<string>exit</string>
		<string>end</string>
		<string>function</string>
		<string>sub</string>
		<string>get</string>
		<string>set</string>
		<string>rem</string>
		<string>call</string>
		<string>error</string>
		<string>goto</string>
		<string>resume</string>
		<string>option</string>
		<string>erase</string>
		<string>is</string>
		<string>not</string>
		<string>false</string>
		<string>true</string>
		<string>empty</string>
		<string>nothing</string>
		<string>null</string>
	</array>
</dict>
</plist>
