<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>#</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*(def|class).*</string>
	<key>removeFromFunction</key>
	<string>def </string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>import</string>
		<string>from</string>
		<string>as</string>
		<string>and</string>
		<string>assert</string>
		<string>break</string>
		<string>class</string>
		<string>continue</string>
		<string>def</string>
		<string>del</string>
		<string>elif</string>
		<string>else</string>
		<string>except</string>
		<string>exec</string>
		<string>finally</string>
		<string>for</string>
		<string>global</string>
		<string>if</string>
		<string>in</string>
		<string>is</string>
		<string>lambda</string>
		<string>not</string>
		<string>or</string>
		<string>pass</string>
		<string>print</string>
		<string>raise</string>
		<string>return</string>
		<string>try</string>
		<string>while</string>
		<string>yield</string>
		<string>abs</string>
		<string>apply</string>
		<string>buffer</string>
		<string>callable</string>
		<string>chr</string>
		<string>cmp</string>
		<string>coerce</string>
		<string>compile</string>
		<string>complex</string>
		<string>copyright</string>
		<string>credits</string>
		<string>delattr</string>
		<string>dir</string>
		<string>divmod</string>
		<string>eval</string>
		<string>execfile</string>
		<string>exit</string>
		<string>filter</string>
		<string>float</string>
		<string>getattr</string>
		<string>globals</string>
		<string>hasattr</string>
		<string>hash</string>
		<string>hex</string>
		<string>id</string>
		<string>input</string>
		<string>int</string>
		<string>intern</string>
		<string>isinstance</string>
		<string>issubclass</string>
		<string>iter</string>
		<string>len</string>
		<string>license</string>
		<string>list</string>
		<string>locals</string>
		<string>long</string>
		<string>map</string>
		<string>max</string>
		<string>min</string>
		<string>oct</string>
		<string>open</string>
		<string>ord</string>
		<string>pow</string>
		<string>quit</string>
		<string>range</string>
		<string>raw_input</string>
		<string>reduce</string>
		<string>reload</string>
		<string>repr</string>
		<string>round</string>
		<string>setattr</string>
		<string>slice</string>
		<string>str</string>
		<string>tuple</string>
		<string>type</string>
		<string>unichr</string>
		<string>unicode</string>
		<string>vars</string>
		<string>xrange</string>
		<string>zip</string>
		<string>None</string>
		<string>self</string>
	</array>
</dict>
</plist>
