<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>(CodeDocParser)</key>
	<array>
		<string>-initWithString:</string>
		<string>-setWeaver:</string>
		<string>-weaver</string>
		<string>-parseAndWeave</string>
	</array>
	<key>(CodeDocWeaving)</key>
	<array>
		<string>-weaveClassNamed:superclassName:</string>
		<string>-weaveProtocolNamed:</string>
		<string>-weaveCategoryNamed:className:</string>
		<string>-weaveHeader:</string>
		<string>-weaveMethod:</string>
		<string>-weaveFunction:</string>
		<string>-weaveMacro:</string>
		<string>-weaveConstant:</string>
		<string>-weaveOtherDataType:</string>
		<string>-finishWeaving</string>
		<string>-currentHeader</string>
	</array>
	<key>(GSDocParserDelegate)</key>
	<array>
		<string>-parser:startElement:withAttributes:</string>
		<string>-parser:endElement:withContent:</string>
	</array>
	<key>DocCDataType</key>
	<array>
		<string>-GSDocElementName</string>
		<string>-weaveSelector</string>
	</array>
	<key>DocCategoryPage</key>
	<array>
		<string>-addMethodGroup:</string>
	</array>
	<key>DocConstant</key>
	<array>
		<string>-GSDocElementName</string>
		<string>-weaveSelector</string>
	</array>
	<key>DocDeclarationReorderer</key>
	<array>
		<string>-initWithWeaver:orderedSymbols:</string>
	</array>
	<key>DocDescriptionParser</key>
	<array>
		<string>-validTagsBeforeMainDescription</string>
		<string>-validTagsAfterMainDescription</string>
		<string>-parse:</string>
		<string>-description</string>
		<string>-task</string>
		<string>-taskUnit</string>
		<string>-returnDescription</string>
		<string>-descriptionForParameter:</string>
	</array>
	<key>DocElement</key>
	<array>
		<string>+defaultTask</string>
		<string>+forthcomingDescription</string>
		<string>-appendToRawDescription:</string>
		<string>-rawDescription</string>
		<string>-addInformationFrom:</string>
		<string>-insertLinksWithDocIndex:forString:</string>
		<string>-HTMLDescriptionWithDocIndex:</string>
		<string>-HTMLRepresentation</string>
		<string>-GSDocElementName</string>
		<string>-weaveSelector</string>
	</array>
	<key>DocElementGroup</key>
	<array>
		<string>-initWithHeader:subgroupKey:</string>
		<string>-addElement:</string>
	</array>
	<key>DocFunction</key>
	<array>
		<string>-GSDocElementName</string>
		<string>-weaveSelector</string>
	</array>
	<key>DocHTMLElement</key>
	<array>
		<string>+blankElement</string>
		<string>+elementWithName:</string>
		<string>-initWithName:</string>
		<string>-id:</string>
		<string>-class:</string>
		<string>-name:</string>
		<string>-addText:</string>
		<string>-add:</string>
		<string>-with:</string>
		<string>-and:</string>
		<string>-content</string>
		<string>-description</string>
	</array>
	<key>DocHTMLElement(CommonUseCases)</key>
	<array>
		<string>-class:with:</string>
		<string>-class:with:and:</string>
		<string>-class:with:and:and:</string>
		<string>-with:and:</string>
		<string>-with:and:and:</string>
		<string>-with:and:and:and:</string>
		<string>-id:with:</string>
		<string>-id:with:and:</string>
		<string>-id:with:and:and:</string>
	</array>
	<key>DocHeader</key>
	<array>
		<string>-addAuthor:</string>
		<string>-addAdoptedProtocolName:</string>
		<string>-HTMLOverviewRepresentation</string>
		<string>-HTMLRepresentation</string>
		<string>-HTMLRepresentationWithTitleBlockElement:</string>
		<string>-HTMLTOCRepresentation</string>
	</array>
	<key>DocIndex</key>
	<array>
		<string>+currentIndex</string>
		<string>+setCurrentIndex:</string>
		<string>-initWithGSDocIndexFile:</string>
		<string>-isInformalProtocolSymbolName:</string>
		<string>-setProjectRef:forSymbolName:ofKind:</string>
		<string>-projectSymbolNamesOfKind:</string>
		<string>-symbolKinds</string>
		<string>-regenerate</string>
		<string>-linkForSymbolName:ofKind:</string>
		<string>-linkWithName:forSymbolName:ofKind:</string>
		<string>-linkForClassName:</string>
		<string>-linkForProtocolName:</string>
		<string>-linkForGSDocRef:</string>
		<string>-linkForLocalMethodRef:relativeTo:</string>
		<string>-linkWithName:ref:anchor:</string>
		<string>-refFileExtension</string>
	</array>
	<key>DocMacro</key>
	<array>
		<string>-GSDocElementName</string>
		<string>-weaveSelector</string>
	</array>
	<key>DocMethod</key>
	<array>
		<string>-isClassMethod</string>
		<string>-refMarkup</string>
		<string>-refMarkupWithClassName:</string>
		<string>-refMarkupWithProtocolName:</string>
	</array>
	<key>DocMethodGroupDescriptionParser</key>
	<array>
		<string>-group</string>
		<string>-abstract</string>
	</array>
	<key>DocPage</key>
	<array>
		<string>-initWithDocumentFile:templateFile:menuFile:</string>
		<string>-name</string>
		<string>-writeToURL:</string>
		<string>-setHeader:</string>
		<string>-header</string>
		<string>-addSubheader:</string>
		<string>-addMethod:</string>
		<string>-addFunction:</string>
		<string>-addConstant:</string>
		<string>-addMacro:</string>
		<string>-addOtherDataType:</string>
		<string>-HTMLString</string>
		<string>-mainContentHTMLRepresentations</string>
		<string>-HTMLRepresentationForHeader:</string>
		<string>-HTMLOverviewRepresentationForGroupNamed:</string>
		<string>-HTMLRepresentationWithTitle:elements:HTMLRepresentationSelector:groupSeparator:</string>
	</array>
	<key>DocPageWeaver</key>
	<array>
		<string>+parserClassForFileType:</string>
		<string>-initWithParserSourceDirectory:fileTypes:rawSourceDirectories:additionalSourceFiles:templateFile:</string>
		<string>-initWithSourceFiles:templateFile:</string>
		<string>-setMenuFile:</string>
		<string>-setExternalMappingFile:</string>
		<string>-pathForRawSourceFileNamed:</string>
		<string>-templateFileForSourceFile:</string>
		<string>-weaveAllPages</string>
		<string>-weaveCurrentSourcePages</string>
		<string>-weaveNewPage</string>
		<string>-weaveOverviewFile</string>
		<string>-weavePageForCategoryNamed:className:</string>
		<string>-currentSourceFile</string>
		<string>-currentPage</string>
		<string>-currentClassName</string>
		<string>-currentHeader</string>
	</array>
	<key>DocParameter</key>
	<array>
		<string>+parameterWithName:type:</string>
		<string>-initWithName:type:</string>
		<string>-parseType:</string>
		<string>-HTMLRepresentationWithParentheses:</string>
	</array>
	<key>DocSubroutine</key>
	<array>
		<string>-returnParameter</string>
		<string>-addParameter:</string>
		<string>-parameters</string>
		<string>-HTMLAddendumRepresentation</string>
	</array>
	<key>DocVariable</key>
	<array>
		<string>-GSDocElementName</string>
		<string>-weaveSelector</string>
	</array>
	<key>GSDocParser</key>
	<array>
		<string>-initWithString:</string>
		<string>-setWeaver:</string>
		<string>-weaver</string>
		<string>-parseAndWeave</string>
		<string>-newContent</string>
		<string>-elementClassForName:</string>
		<string>-parserDelegate</string>
		<string>-pushParserDelegate:</string>
		<string>-popParserDelegate</string>
		<string>-indentSpaces</string>
		<string>-currentAttributes</string>
		<string>-argTypeFromArgsAttributes:</string>
	</array>
	<key>GraphWriter</key>
	<array>
		<string>-cleanupGraph</string>
		<string>-addNode:</string>
		<string>-addEdge:to:</string>
		<string>-setAttribute:with:on:</string>
		<string>-setGraphAttribute:with:</string>
		<string>-layout</string>
		<string>-generateFile:withFormat:</string>
		<string>-generateWithFormat:</string>
	</array>
	<key>NSString(DocGenerator)</key>
	<array>
		<string>-trimmedString</string>
		<string>-stringByTrimmingWhitespacesAndNewlinesByLine</string>
	</array>
</dict>
</plist>
