{
	application-x-executable = "Application-Application.tif";
	accessories-calculator = "Application-Calculator.tif";
	utilities-terminal = "Application-Terminal.tif";
	audio-x-generic = "Document-Audio.tif";
	text-x-script = "Document-CommandLineTool.tif";
	font-x-generic = "Document-Font.tif";
	image-x-generic = "Document-Image.tif";
	text-x-generic = "Document-Text.tif";
	video-x-generic = "Document-Video.tif";
	folder = "Folder-Folder.tif";
	folder-remote = "Folder-Folder.tif";
	folder-open = "Folder-Folder.tif";
	folder-visiting = "Folder-Folder.tif";
	folder-drag-accept = "Folder-Folder.tif";
	user-home = "Folder-Home.tif";
	user-trash = "Toolbar-DeleteTrash.tif";
	user-trash-full = "Toolbar-DeleteTrash.tif";
	format-justify-center = "Toolbar-AlignCenter.tif";
	format-justify-fill = "Toolbar-AlignJustified.tif";
	format-justify-left = "Toolbar-AlignLeft.tif";
	format-justify-right = "Toolbar-AlignRight.tif";
	format-text-italic = "Toolbar-Italic.tif";
	format-text-underline = "Toolbar-Underline.tif";
	format-text-bold = "Toolbar-Bold.tif";
	go-previous = "Toolbar-Back.tif";
	go-next = "Toolbar-Forward.tif";
	dialog-cancel = "Toolbar-Cancel.tif";
	dialog-warning = "Toolbar-Warning.tif";

	video-display = "Toolbar-Display.tif";
	preferences-desktop-font = "Toolbar-Fonts.tif";
	media-playback-pause = "Toolbar-Pause.tif";
	media-playback-start = "Toolbar-Play.tif";
	media-playback-stop = "Toolbar-Stop.tif";
	media-record = "Toolbar-Record.tif";
	zoom-in = "Toolbar-Zoom.tif";
	zoom-out = "Toolbar-Unzoom.tif";
	list-add = "Toolbar-Add.tif";
	list-remove = "Toolbar-Remove.tif";
	edit-undo = "Toolbar-Undo.tif";
	edit-redo = "Toolbar-Redo.tif";
	edit-delete = "Toolbar-DeleteTrash.tif";
	media-optical = "Volume-CD.tif";
	drive-optical = "Volume-CD.tif";
	drive-harddisk = "Volume-HardDrive.tif";
	printer = "Toolbar-Print.tif";

	applications-mail = "Application-Mail.tif";
	tool-x-executable = "Document-CommandLineTool.tif";
	document-x-generic = "Document-Unknown.tif";
	contact-x-generic = "Toolbar-User.tif";
	url-x-generic = "Document-URL.tif";
	url-x-feed.tif = "Document-Feed.tif";
	archive-x-generic = "Document-Zipped.tif";
	archive-x-zip = "Document-Zipped.tif";
	plugin-x-generic = "Bundle-Plugin.tif";
	sourcecode-x-generic = "Document-Text.tif";
	preferences-desktop-datetime = "Toolbar-DateTime.tif";
	preferences-desktop-users = "Toolbar-Users.tif";
	preferences-desktop-energy = "Toolbar-Energy.tif";
	preferences-desktop-security = "Toolbar-Security.tif";
	preferences-desktop-monitor = "Toolbar-Display.tif";
	palette-colors = "Toolbar-Colors.tif";
	system-shutdown = "Toolbar-ShutDown.tif";
	system-restart = "Toolbar-Restart.tif";

	datetime = "Toolbar-DateTime.tif";
	user = "Toolbar-User.tif";
	users = "Toolbar-Users.tif";
	energy = "Toolbar-Energy.tif";
	security = "Toolbar-Security.tif";
	contact = "Toolbar-User.tif";
	contacts = "Toolbar-Addresses.tif";
	back = "Toolbar-Back.tif";
	forward = "Toolbar-Forward.tif";
	cancel = "Toolbar-Cancel.tif";

	toolbar-flexiblespace = "Toolbar-FlexibleSpace.tif";
	toolbar-separator = "Toolbar-Separator.tif";
	toolbar-space = "Toolbar-Space.tif";
}
