{
	accessories-calculator = "Application-Calculator.png";
	utilities-terminal = "Application-Terminal.png";
	audio-x-generic = "Document-Audio.png";
	text-x-script = "Document-CommandLineTool.png";
	font-x-generic = "Document-Font.png";
	image-x-generic = "Document-Image.png";
	text-x-generic = "Document-Text.png";
	video-x-generic = "Document-Video.png";
	folder = "Folder-Folder.png";
	folder-remote = "Folder-Folder.png";
	folder-open = "Folder-Folder.png";
	folder-visiting = "Folder-Folder.png";
	folder-drag-accept = "Folder-Folder.png";
	user-home = "Folder-Home.png";
	user-trash = "Toolbar-DeleteTrash.png";
	user-trash-full = "Toolbar-DeleteTrash.png";
	format-justify-center = "Toolbar-AlignCenter.png";
	format-justify-fill = "Toolbar-AlignJustified.png";
	format-justify-left = "Toolbar-AlignLeft.png";
	format-justify-right = "Toolbar-AlignRight.png";
	format-text-italic = "Toolbar-Italic.png";
	format-text-underline = "Toolbar-Underline.png";
	format-text-bold = "Toolbar-Bold.png";
	go-previous = "Toolbar-Back.png";
	go-next = "Toolbar-Forward.png";
	dialog-cancel = "Toolbar-Cancel.png";
	dialog-warning = "Toolbar-Warning.png";

	video-display = "Toolbar-Display.png";
	preferences-desktop-font = "Toolbar-Fonts.png";
	media-playback-pause = "Toolbar-Pause.png";
	media-playback-start = "Toolbar-Play.png";
	media-playback-stop = "Toolbar-Stop.png";
	media-record = "Toolbar-Record.png";
	zoom-in = "Toolbar-Zoom.png";
	zoom-out = "Toolbar-Unzoom.png";
	list-add = "Toolbar-Add.png";
	list-remove = "Toolbar-Remove.png";
	edit-undo = "Toolbar-Undo.png";
	edit-redo = "Toolbar-Redo.png";
	edit-delete = "Toolbar-DeleteTrash.png";
	media-optical = "Volume-CD.png";
	drive-optical = "Volume-CD.png";
	drive-harddisk = "Volume-HardDrive.png";
	printer = "Toolbar-Print.png";

	applications-mail = "Application-Mail.png";
	tool-x-executable = "Document-CommandLineTool.png";
	document-x-generic = "Document-Unknown.png";
	url-x-generic = "Document-URL.png";
	url-x-feed.png = "Document-Feed.png";
	archive-x-generic = "Document-Zipped.png";
	archive-x-zip = "Document-Zipped.png";
	plugin-x-generic = "Bundle-Plugin.png";
	preferences-desktop-datetime = "Toolbar-DateTime.png";
	preferences-desktop-users = "Toolbar-Users.png";
	preferences-desktop-energy = "Toolbar-Energy.png";
	preferences-desktop-security = "Toolbar-Security.png";
	preferences-desktop-monitor = "Toolbar-Display.png";
	palette-colors = "Toolbar-Colors.png";
	system-shutdown = "Toolbar-ShutDown.png";
	system-restart = "Toolbar-Restart.png";

	datetime = "Toolbar-DateTime.png";
	user = "Toolbar-User.png";
	users = "Toolbar-Users.png";
	energy = "Toolbar-Energy.png";
	security = "Toolbar-Security.png";
	contacts = "Toolbar-Addresses.png";
	back = "Toolbar-Back.png";
	forward = "Toolbar-Forward.png";
	cancel = "Toolbar-Cancel.png";

	toolbar-flexiblespace = "Toolbar-FlexibleSpace.png";
	toolbar-separator = "Toolbar-Separator.png";
	toolbar-space = "Toolbar-Space.png";
}
