{
    ApplicationDescription = "A Dict client for GNUstep";
    ApplicationIcon = dict.png;
    ApplicationName = DictionaryReader;
    ApplicationRelease = 0.3;
    Authors = (
	"Yen-Ju Chen <yjchenx gmail>",
	"Guenther Noack <guenther@unix-ag.uni-kl.de>",
	"With help from:",
	"Quentin Mathe",
	"Chris B. Vetter"
    );
    Copyright = "Copyright (C) 2006, 2007 Guenther Noack, Yen-Ju Chen";
    CopyrightDescription = "Released under the terms of MIT Licence.";
    NSIcon = dict.png;
    NSTypes = (
    );
    NSServices = (
      {
        NSPortName = DictionaryReader;
        NSMessage = lookupInDictionary;
        NSSendTypes = (NSStringPboardType);
	NSKeyEquivalent = {
	  default = "=";
	 };
        NSMenuItem = {
          default = "Look Up in Dictionary";
         };
      }
    );
}
